<link rel="stylesheet" href="/css/journals.css">

<div class="journalsBox">
<label for="title">Title</label>
<p class="title">{{ result.title }}</p>
<label for="content">Content</label>
<p class="content">{{ result.content }}</p>
<label for="createdTime">createdAt</label><br>
<time datetime="{{ result.created_at }}">{{ result.created_at }}</time><br><br>

<form action="/delete/{{ result.id }}" method="POST">
    <a class="btn btn-outline-info" href="/edit/{{ result.id }}" role="button">Edit</a>
    <a class="btn btn-outline-info" href="/diaryList" role="button">Home</a>
    <button class="btn btn-outline-danger" type="submit">Delete</button>
</form>
</div>